<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="awa.com.awatutorials">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Background">
        <activity android:name=".activity.TutorialMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecyclerViewMainActivity" />
        <activity android:name=".activity.LifecycleActivity" />
        <activity android:name=".activity.SharedPrefActivity" />
        <activity android:name=".activity.SQLitePersistenceActivity" />
        <activity android:name=".activity.DialogDemoMainActivity" />
        <activity
            android:name=".activity.ConstraintLayoutActivity"
            android:label="@string/title_activity_constraint_layout"
            android:theme="@style/Background.NoActionBar" />
        <activity android:name=".activity.BasicRecyclerViewActivity" />
        <activity android:name=".activity.DrawablesMainActivity" />
        <activity android:name=".activity.RecyclerViewGridLayoutActivity" />
        <activity android:name=".activity.RecyclerviewmultipleViewActivity" />
        <activity android:name=".activity.JsonParsingFormAssetsActivity"></activity>
    </application>

</manifest>